.boto_web .header {
background: #222;
}

.boto_web .header h1 {
color: #fff;
line-height: 2.5em;
padding: 0 15px;
border: 0 solid #000;
border-width: 2px 0;
}

.boto_web .nav {
list-style-type: none;
line-height: 2em;
border: 0 double #fff;
border-width: 3px 0;
}

.boto_web .header .nav {
background: #eee;
}

.boto_web .nav li {
display: inline;
}

.boto_web .nav li a {
padding: .75em 15px .5em 15px;
border-width: 1px 1px 0 1px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.boto_web .nav li a:hover {
background: #f5f5f5;
border-color: #e5e5e5;
}

.boto_web .nav li a.active, .boto_web .nav li a.active:hover {
background: #fff;
border-color: #ddd;
}

.boto_web label {
float: left;
clear: both;
width: 150px;
}

.boto_web .field_container {
float: left;
}

.boto_web .object {
background: #fafafa;
border: 1px solid #eee;
padding: 5px;
margin: 0 5px 5px 5px;
font-size: .9em;
}

.boto_web .editor {
background: #f5f5ff;
border: 1px solid #ddf;
padding: 5px;
margin: 0 5px 5px 5px;
font-size: .9em;
}

.boto_web .add {
	padding: 0 0 0 16px;
	background: #ddd url(/images/icons/add.png) 1px center no-repeat;
border: 1px solid #ccc;
color: #555;
	cursor: pointer;
margin: 1px 0;
line-height: 1.75em;
font-size: .75em;
}